@charset 'utf-8';
body,
html {
    width: 100%;
    height: 100%;
    background: url("../img/18-cc5430a0a2f6996090290318f5f1bf8f.jpg") center center no-repeat fixed;
    background-size: cover;
}

.hitokoto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
    background: rgba(255, 255, 255, 0.2);
}

.yis {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hitokoto {
    font-size: 2rem;
    font-weight: 900;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    cursor: default;
    transition: 0.3s;
}

#hitokoto:hover {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: 0.3s;
}

#author {
    width: 100%;
    text-align: right;
    padding: 0px 20vw;
    position: relative;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}

#author::after {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 3px;
    border-radius: 1.5px;
    background: rgb(255, 255, 255);
    right: 20vw;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.tools {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 10px 0px;
    transition: 0.3s;
}

.tools .item {
    background: rgba(255, 255, 255, 0.3);
    padding: 3px 15px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    margin: 0px 10px;
    cursor: default;
    transition: 0.3s;
}

.tools .item:hover {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    transition: 0.3s;
}

.tools .item .iconfont {
    font-size: 2rem;
}

.tools .item .title {
    font-size: 0.8rem;
}

.pro {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 10px 0px;
    position: relative;
    transition: 0.3s;
}

.pro .item {
    background: rgba(255, 255, 255, 0.3);
    padding: 2px 12px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    cursor: default;
    transition: 0.3s;
}

.pro .item:nth-child(1) {
    border-radius: 10px 0px 0px 10px;
}

.pro .item:nth-last-child(1) {
    border-radius: 0px 10px 10px 0px;
}

.pro .item:hover {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    transition: 0.3s;
}

.pro .item .iconfont {
    font-size: 1.8rem;
}

.pro .item .title {
    font-size: 0.6rem;
}

.list {
    position: absolute;
    display: block;
    width: 400px;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-start;
    overflow: hidden;
    border-radius: 10px;
    transform: scale(0);
    top: -50px;
    transition: 0.3s;
}

.list .listItem {
    flex: 0 0 25%;
    cursor: default;
    padding: 5px 0px;
}

.list .listItem:hover {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.listOpen {
    transform: scale(1);
    top: -110px;
}

#personallist {
    top: 0;
}

.listOpen-p {
    transform: scale(1);
    top: -100px !important;
}

#personallist .listItem {
    padding: 20px 10px;
    flex: 50%;
}

#personallist .listItem a {
    text-decoration: none;
    color: rgb(0, 110, 255);
    cursor: default;
}

#username:hover {
    background: none;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}

#useruid {
	display:none;
}

.likes {
    width: 100%;
    height: 100%;
    position: fixed;
    top: -200%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    transition: 0.3s;
}

.likes_open {
    top: 0;
    transition: 0.3s;
}

.likes .item {
    width: 500px;
    max-width: 90%;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto;
}

.likes .item .hitokoto {
    background: none;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    padding: 0;
    margin: 0;
    text-align: left !important;
    display: block;
    font-weight: 900;
    height: auto;
}

.likes .item .author {
    text-align: right;
}

.list .item .dos {
    padding: 3px;
}

.dos a {
    margin: 0px 5px;
    display: inline-block;
    cursor: default;
}

.close-likes {
    position: fixed;
    right: 10px;
    top: -100px;
    background: rgb(255, 255, 255);
    z-index: 2;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 900;
    cursor: default;
    transition: 0.3s;
}

.close-likes-show {
    top: 10px;
    transition: 0.3s;
}

@media screen and (min-width:1160px) {
    #hitokoto {
        font-size: 3rem;
    }
}

@media screen and (max-width:640px) {
    #hitokoto {
        font-size: 1.8rem;
    }
}

@media screen and (max-width:540px) {
    #hitokoto {
        font-size: 1.6rem;
    }
    .tools {
        width: 90vw;
    }
}

@media screen and (max-width:300px) {
    #hitokoto {
        font-size: 1.4rem;
    }
}