@charset 'utf-8';
.loginBox {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    max-width: 100%;
    padding: 10px 0px;
}

.loginBox .title {
    font-size: 1.7rem;
    text-align: center;
}

.loginBox button {
    margin: 5px 0px;
}

.loginBox a {
    text-align: right;
    text-decoration: none;
    color: rgb(29, 131, 199);
    cursor: pointer;
}

.backtoHome {
    display: inline-block;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
}

.backtoHome:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}